<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>ECMS</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/electricians">Electricians</a>
    <a href="/jobs">Jobs</a>
    <a href="/tasks">Tasks</a>
    <a href="/materials">Materials</a>
    <a href="/profile">Profile</a>
</div>

<div class="main">
    <h2>Admin Profile</h2>

    <h3>Profile Details</h3>

    <form method="POST">
        <label>Name</label><br>
        <input type="text" name="name" value="{{ user[1] }}"><br>

        <label>Email</label><br>
        <input type="email" name="email" value="{{ user[3] }}"><br>

        <label>Phone</label><br>
        <input type="text" name="phone" value="{{ user[2] }}"><br>

        <button type="submit">Update Profile</button>
    </form>

    <br><br>

    <a href="/" style="background:red; padding:8px; color:white;">Logout</a>
</div>

</body>
</html>